<h1><?php echo $page_title ?></h1>
    <ul id="navigation">
    <?php for ($navigation as $item) { ?>
    <li>
        <a href="<?php echo $item->getHref() ?>">
            <?php echo $item->getCaption() ?>
        </a>
    </li>
    <?php } ?>
</ul>


<h1>{{ page_title }}</h1>
<ul id="navigation">
{% for item in navigation %}
<li>
<a href="{{ item.href }}">
{{ item.caption }}
</a>
</li>
{% endfor %}
</ul>