{% extends ’base.html.twig’ %}
{% block title %}Home{% endblock %}
{% block body %}
    <div>
        <h1>Hello {{ controller_name }}!</h1>
    </div>

    <ul>
        <li>
            {{ tableau[0] }}
        </li>
        <li>
            {{ tableau[’1’] }}
        </li>
        <li>
            {{ tableau["2"] }}
        </li>
    </ul>
{% endblock %}

{% extends ’base.html.twig’ %}
{% block title %}
Home
{# ce contenu sera ins´er´e dans le bloc title de base.
html.twig #}
{% endblock %}
{% block body %}
{# contenu pr´ec´edent #}
{# ce contenu sera ins´er´e dans le bloc body de base.
html.twig #}
{% endblock %}
